name: social_nest
description: A social learning platform for students

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.1
  firebase_core: ^2.24.0
  cloud_firestore: ^4.9.5
  firebase_auth: ^4.17.1
  google_sign_in: ^6.1.5
  cupertino_icons: ^1.0.2
  image_picker: ^1.0.4
  firebase_storage: ^11.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/